<nav id='actions' class='multilist'>
  <ul class='search_list'>
    <li class='not_a_link'>
      <%= render :partial => "/refinery/admin/search",
                 :locals => {
                   :url => refinery.enrollment_admin_courses_path
                 } %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.courses.title'), '#',
                   :class => 'courses_icon' %>
    </li>
    <li>
      <%= link_to t('.courses.manage'), refinery.enrollment_admin_courses_path,
                   :class => 'edit_icon' %>
    </li>
    <li>
       <%= link_to t('.courses.new'), refinery.new_enrollment_admin_course_path,
                   :class => 'add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.sessions.title'), '#',
                   :class => 'sessions_icon' %>
    </li>
    <li>
      <%= link_to t('.sessions.manage'), refinery.enrollment_admin_sessions_path,
                   :class => 'edit_icon' %>
    </li>
    <li>
       <%= link_to t('.sessions.new'), refinery.new_enrollment_admin_session_path,
                   :class => 'add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.students.title'), '#',
                   :class => 'sessions_icon' %>
    </li>
    <li>
      <%= link_to t('.students.manage'), refinery.enrollment_admin_students_path,
                   :class => 'edit_icon' %>
    </li>
    <li>
       <%= link_to t('.students.new'), refinery.new_enrollment_admin_student_path,
                   :class => 'add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.guardians.title'), '#',
                   :class => 'sessions_icon' %>
    </li>
    <li>
      <%= link_to t('.guardians.manage'), refinery.enrollment_admin_guardians_path,
                   :class => 'edit_icon' %>
    </li>
    <li>
       <%= link_to t('.guardians.new'), refinery.new_enrollment_admin_guardian_path,
                   :class => 'add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.settings.title'), '#',
                  :class => 'settings_icon' %>
    </li>
    <li>
      <%= link_to t('.settings.update_notified'),
                  refinery.notification_recipients_enrollment_admin_settings_path(:dialog => true, :height => 400),
                  :class => 'user_comment_icon' %>
    </li>
  </ul>

</nav>

<% content_for :stylesheets, stylesheet_link_tag('refinery/enrollment/backend') %>
