<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(student) -%>">
  <span class='title'>
    <%= student.name %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.enrollment_student_path(student),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_enrollment_admin_student_path(student),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.enrollment_admin_student_path(student),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => student.name),
        :method => :delete %>
  </span>
</li>
