<%= form_for [refinery, :enrollment_admin, @course] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @course,
              :include_object_name => true %>


  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>
  </div>

  <div class='fee'>
    <%= f.fields_for :fee do |f| %>
      <%= f.label :amount, t('refinery.enrollment.admin.courses.form.amount') -%>
      <%= f.text_field :amount, :class => 'larger widest'  -%>
    <% end %>
  </div>

  <% unless @all_sessions.empty? %>
    <div id='offered_sessions' class='tickable_collection'>
      <h4><%= t('refinery.enrollment.admin.courses.form.offered_sessions') %></h4>
      <ul>
        <% @all_sessions.each do |session| %>
          <li class='field'>
            <%= check_box_tag :session_ids, session.id, @course.sessions.include?(session), :name => 'session[session_ids][]' %>
            <%= label_tag :session_ids, session.title %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.courses.admin.courses.course'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @course.name) %>
<% end -%>

<% content_for :stylesheets, stylesheet_link_tag('refinery/enrollment/backend') %>
